// important
$circleCount: 12 !default;
$preloaderWidth: 400px !default;
$animationDuration: 12s !default;

// circle
$circleRadius: 25px !default;

// colors
$primaryColor: dodgerblue !default;
$secondaryColor: forestgreen !default;
